body {
    color:black;
    background: linear-gradient(to left bottom,#0c3ef2,#8ca2f5);
}
.heading{
    width:80%;
    font-size: 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color:wheat;
    font-size: 20px;
}
#camera{
    border: 2px dashed #77d9a8;
    width: 350px;
    height: 300px;
}
